<h2 >Reviews</h2>
<div class="row">
    <div class="col-sm-2">
        <div class="row">
            <div class="col-sm-10">
                <a href="Javascript.void(0)" routerLink="/review/{{pid}}" (click)="getReviewSort(5)">
                    <img src="../../../assets/images/5star.png" style="width: 100%; height :35px">
                </a>
                <br />
                <a href="Javascript.void(0)" routerLink="/review/{{pid}}" (click)="getReviewSort(4)">
                    <img src="../../../assets/images/4star.png" style="width:100%;">
                </a>
                <br />
                <a href="Javascript.void(0)" routerLink="/review/{{pid}}" (click)="getReviewSort(3)">
                    <img src="../../../assets/images/3star.png" style="width:100%;">
                </a>
                <br />
                <a href="Javascript.void(0)" routerLink="/review/{{pid}}" (click)="getReviewSort(2)">
                    <img src="../../../assets/images/2star.png" style="width:100%;">
                </a>
                <br />
                <a href="Javascript.void(0)" routerLink="/review/{{pid}}" (click)="getReviewSort(1)">
                    <img src="../../../assets/images/1star.png" style="width:100%;">
                </a>
                <br />
            </div>
            <div class="col-sm-2">
                <div class="row mt-2">
                    {{this.ratings[0]}}
                </div>
                <div class="row mt-3">
                    {{this.ratings[1]}}
                </div>
                <div class="row mt-3">
                    {{this.ratings[2]}}
                </div>
                <div class="row mt-3">
                    {{this.ratings[3]}}
                </div>
                <div class="row mt-3">
                    {{this.ratings[4]}}
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12" align="center">
                <a href="Javascript.void(0)" routerLink="/review/{{pid}}" (click)="getAllReviews()">
                    <button>All Reviews</button>
                </a>
            </div>
            <br /><br />
            <div class="col-lg-12" align="center">
                <a href="Javascript.void(0)" routerLink="/review/{{pid}}" (click)="postReview()">
                    <button>Post Reviews</button>
                </a>
            </div>

        </div>
    </div>
    <div class="col-sm-10">
        <div class="row" *ngIf="showReviewForm">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        Post-review
                      </div>
                    <div class="card-body">
                        <label for="exampleFormControlTextarea1" class="form-label">Please post a review for the product</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <br />
                        <label >Ratings : </label>
                        <br />
                        1 <input type="range" step="1" min=1 max=5 (change)="onchangeRating(this)"> 5
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" *ngFor="let r of reviewsArray">
                {{r.reviewText}}
                <br />
                Rating = {{r.rating}}
                <br />
                <span *ngIf="r?.username"> Posted By : {{r.username}} </span>
                <hr />
            </div>
        </div>
    </div>
</div>